body{
	margin: 0;
	padding: 0;
	background: #312e2e;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #312e2e;
	padding: 0 300px;
}
nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
nav a{



width: 92;
height: 43;
angle: 0 deg;
opacity: 1;
border-radius: 12px;
border-width: 1px;
padding: 15px;




	color: white;
	text-decoration: none;
	padding: 15 25px;
	/*border-radius: 8px;*/
	transition: all 0.4s ease;
	position: relative;
	border-radius: 2px solid transparent;
	background: transparent;
	font-weight: 500;
}
/*effet au survol*/
nav a:hover{
 border-radius: 10px solid transparent;
 background: transparent;
 transform: translateY(-3px);
 box-shadow: 0 6px 20px rgba(255, 140, 0, 0.3);

 /* degrade sur le texte*/

border: 1px solid;

 background: linear-gradient(135deg, #ff3c00,  #fa7f20, #ff4400);
 -webkit-background-clip:text;
 background-clip: text;
 -webkit-text-fill-color:transparent;
 background-size: 200% 200%;
 animation: textGradient 2s ease infinite;

 /*dégradé sur le cadre*/
 border-image-source: linear-gradient(180deg, #F89A3C 0%, #FF3D00 100%);
border-image-slice: 1;
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}  

div h1{
	margin: 0;
	font-size: 50px;
}
.container{
	position: relative;
	/*top: 20px;*/
	width: 200%;
	max-width: 800px;
	height: 500px;
	margin: 50px auto;
	border-radius: 20px;

}
.bg-img{
	object-fit: cover;
	/*transform: rotate(-15deg) scale(1.2);*/
	position: absolute;
	width: 750px;
	/*height: 300px;*/
	/*top: -10px;*/
	left: 0px;
    border-radius: 10px;
    margin: 0px auto;
    top: 150px;
    margin-left: 150px;
    margin-top: 50px;


}
.text{
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 73.9px;
leading-trim: NONE;
line-height: 68px;
letter-spacing: 0px;
vertical-align: middle;




    font-family: ;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: linear-gradient(90deg, #F89A3C 0%, #FF3D00 100%);
 -webkit-background-clip:text;
 background-clip: text;
 -webkit-text-fill-color:transparent;
 background-size: 200% 200%;
	
}  
.sous-titre P{
	
	position: absolute;
	top: 50%;
	left: 49%;
	bottom: 30%;
	transform: translate(-50%, -50%) ;
	text-align: center;

font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 19.5px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0px;
vertical-align: middle;

}
.sous-titre input{
width: 146.60000610351562px;
height: 50px;
angle: 0 deg;
opacity: 1;
border-radius: 10px;
border-width: 1px;
background: linear-gradient(353deg, #FF3D00 17.51%, #A05533 100%);

font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14.9px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;
color: #FFFFFF;



}

.pa{
	margin-top: 100px ;
	color: #404040;
}
.pa a{
	color: gray;
}
input{
	margin-top: 100px;
}
.logo{
	/*width: 100px;*/
	height: 100px;
	position: absolute;
	left: 0px;
    margin: 0px auto;
    top: 80px;
    margin-left: 475px;
    margin-top: 5px;
	  

}

.start{
	color: white;

}
.true{
	position: relative;
	top: 160px;
}
.trust{
position: relative;
top: 950px;


}
.divi{
	position: absolute;
	left: 70px;
	margin-top: 300px;
}
.li{
	position: absolute;
	left: 30px;
	margin-top: 1000px;
}
.lin{
	position: absolute;
	left: 400px;
	margin-top: 1000px;
}
.app{
	margin-top: 900px;
	color: white;
	font-size: 40px;

}