/* Component-specific styles */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

nav a {
    padding: 15px;
    border-radius: 12px;
    border-width: 1px;
    font-weight: 500;
    background: transparent;
    transition: all 0.4s ease;
}

.bg-img {
    object-fit: cover;
    position: absolute;
    width: 750px;
    left: 0px;
    border-radius: 10px;
    margin: 0px auto;
    top: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

.logo {
    height: 100px;
    position: absolute;
    left: 0px;
    margin: 0px auto;
    top: 80px;
    margin-left: 475px;
    margin-top: 5px;
}

.sous-titre input {
    width: 146.6px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    background: linear-gradient(353deg, #FF3D00 17.51%, #A05533 100%);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14.9px;
    line-height: 24px;
    margin-top: 100px;
}

/* Typography components */
.text h1 {
    font-size: 73.9px;
    line-height: 68px;
    background: linear-gradient(90deg, #F89A3C 0%, #FF3D00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sous-titre P {
    font-size: 19.5px;
    line-height: 28px;
}

.pa {
    margin-top: 100px;
    color: #404040;
}

.pa a {
    color: gray;
}