:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
  background: transparent;
  font-weight: 500;
}
a:hover {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #312e2e;
  }
  a:hover {
    background: linear-gradient(135deg, #ff3c00,  #fa7f20, #ff4400);
    -webkit-background-clip:text;
 background-clip: text;
 -webkit-text-fill-color:transparent;
 background-size: 200% 200%;
 animation: textGradient 2s ease infinite;

 /*dégradé sur le cadre*/
 border-image: linear-gradient(180deg, #F89A3C 0%, #FF3D00 100%);
padding: 5px ;

  }
  
}
